.shop-title {
  text-decoration: underline;
  text-transform: uppercase;
  text-decoration-color: wheat;
  text-decoration-thickness: 5px;
  padding-bottom: 5px;
  text-underline-offset: 10px;
  font-weight: 400;
  font-size: 40px;
}
